.hero-container{
    width: 100%;
    max-width: 1400px;
    height: 86vh;
    padding: 0 40px;
    display: flex;
}

.background-container{
    background-image: url('./assets/icon/pic-1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: inherit;
    margin-top: 40px;
    margin-left: 80px;
    top:0;
    left: 0;
    width: inherit;
    height: inherit;
    transform: rotateY(180deg);
}

.brief-about-me-container{
    position: absolute;
    top: 46%;
}
.brief-about-me-container>:nth-child(1){
    font-size: 18px;
}
.brief-about-me-container>p {
    margin: -20px 0;
    color: var(--primary-text-color);
    transition: 1s;
}
.brief-about-me-container>h1 {
    color: var(--primary-text-color);
    transition: 1s;
}
.img-container{
    position: absolute;
    width: 90px;
    height: 90px;

    top: 50%;
    left: 50%;
}

.react{
    background-image: url('./assets/icon/react.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 200px;/*220*/
    animation-name: react-anim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}

/*  animation-name: react-anim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;*/

@keyframes react-anim{
    0%{}
    50%{margin-top: -10px;margin-left: 170px;width: 70px;height: 70px;}
    100%{ }
}

.javascript{
    background-image: url('./assets/icon/javascript.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 240px;/*240*/
    margin-top: -120px;
    width: 80px;
    height: 80px;
    transform: rotateZ(85deg);/*75*/
    animation-name: javascript-anim;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
   
}
/*
    animation-name: javascript-anim;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
*/

@keyframes javascript-anim{
    0%{ margin-left: 240px;}
    50%{margin-top: -110px;margin-left: 200px;width: 60px;height: 60px;}
    100%{ margin-left: 240px;}
}

.css{
    background-image: url('./assets/icon/css.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 200px;
    margin-top: -240px;
    transform: rotateZ(45deg);
    animation-name: css-anim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

/*
    animation-name: css-anim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0s;
*/

@keyframes css-anim{
    0%{ margin-left: 160px;}
    50%{margin-top: -210px;margin-left: 140px;width: 70px;height: 70px;}
    100%{ margin-left: 160px;}
}

.html{
    background-image: url('./assets/icon/html.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 50px;
    margin-top: -320px;
    transform: rotateZ(12deg);
    animation-name: html-anim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 1s;

}
/*
    animation-name: html-anim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 1s;
*/

@keyframes html-anim{
    0%{ }
    50%{margin-top: -280px;margin-left: 40px;width: 70px;height: 70px;}
    100%{ }
}

.figma{
    background-image: url('./assets/icon/figma.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -110px;/*-110*/
    margin-top: -300px;/*-300*/
    width: 90px;
    height: 90px;
    transform: rotateZ(-25deg);
    animation-name: figma-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/*
 animation-name: figma-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
*/

@keyframes figma-anim{
    0%{ }
    50%{margin-top: -260px;margin-left: -90px;width: 70px;height: 70px;}
    100%{ }
}

.nodejs{
    background-image: url('./assets/icon/nodejs.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -260px;
    margin-top: -240px;
    display: none;
}

.guide-2{
    width: 380px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 52%;
    margin-top: -230px;
    margin-left: -190px;
    background-color: rebeccapurple;
    border-radius: 50%;
    z-index: -1;
    display: none;
}

.guide{
    width: 480px;
    height: 480px;
    position: absolute;
    background-color: green;
    z-index: -2;
    top: 50%;
    left: 52%;
    transform: translateX(-50%);
    margin-top: -280px;
    border-radius: 50%;
    display: none;

}

.social-media-accs-container{
    margin-top: -40px;
    align-self: center;
    justify-self: center;    
}

.soc-media-container{
    width: 38px;
    height: 38px;
    margin: 10px 0;
    transition: .5s;

}

.soc-media-container:hover{
    opacity: .6;
    transition: .5s;
    
}

.linkedin{
    background-image: url('./assets/icon/linkedin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.github{
    background-image: url('./assets/icon/github.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.behance{
    background-image: url('./assets/icon/behance.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.facebook{
    background-image: url('./assets/icon/facebook.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#linkedin-link{
    font-size: 12px;
    position: absolute;
    margin-left: -260px;
    margin-top: 20px;
    color: var(--primary-text-color);
    display: none;
}

#github-link{
    font-size: 12px;
    position: absolute;
    margin-left: -140px;
    margin-top: 12px;
    color: var(--primary-text-color);
    display: none;
}

#behance-link{
    font-size: 12px;
    position: absolute;
    margin-left: -170px;
    margin-top: 12px;
    color: var(--primary-text-color);
    display: none;
}

#facebook-link{
    font-size: 12px;
    position: absolute;
    margin-left: -190px;
    margin-top: 12px;
    color: var(--primary-text-color);
    display: none;
}

@media (max-width:1024px) {
    .brief-about-me-container{
        width: 300px;
    }

    .social-media-accs-container{
        position: absolute;
        top: 64%;
        display: flex;
    }
}