.opening-container {
    top: 0;
    left: 0;
    inset: 0;
    position: absolute;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    position: fixed;
    animation-name: text-animation-scale;
    animation-duration: 2s;
    animation-delay: 1s;
}

.show-anim {
    animation: opacity-down 1s;
}

.cover {
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

@keyframes text-animation-scale {
    from {
        width: 100%;
        opacity: 100%;
    }
    to {
        width: 8000%;
        height: 8000%;
        margin-left: 3500px;
    }
}

@keyframes opacity-down {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}